= form_for @new_discussion do |f|
  %div
    = f.label :title
    = f.text_field :title

  %div
    = f.label :body
    = f.text_area :body

  %div
    = fields_for :categories do |category|
      = category.label :name, 'Categories'
      = category.text_field :name

  = f.submit 'Save'

